<ul class="list-group list-group-numbered">
  <% @users.each do |user| %>
    <% next if user[:role] == 'admin' %>

    <li class="list-group-item">
      <b>Name: <%= user[:name] %></b>
      <p>
        <b>Login: <%= user[:login] %></b>
      </p>
      <form action="/admin/update_user" method="post">
        <input name="login" type="hidden" value="<%= user[:login] %>"/>
        <input name="block"
               class="form-check-input me-1"
               type="checkbox" value="block"
               id="block-user-<%= user[:id] %>"
               <%= 'checked' if user[:block] %>>
        <label class="form-check-label" for="block-user-<%= user[:id] %>">Block user</label>
        <input name="limitation"
               class="form-check-input me-1"
               type="checkbox"
               value="limitation"
               id="limit-user-<%= user[:id] %>"
               <%= 'checked' if user[:limitation] %>>
        <label class="form-check-label" for="limit-user-<%= user[:id] %>">Limitation</label>
        <button type="submit" class="btn btn-warning">Update</button>
      </form>
    </li>
  <% end %>
</ul>
<form action="/admin/create_user" method="post">
  <div class="mb-3">
    <label for="create-user-login" class="form-label">New user</label>
    <input name="login" type="text" class="form-control" id="create-user-login" placeholder="User login">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
