<h1>Admin</h1>
<a href="/admin/user_list" role="button" class="btn btn-primary">Users list</a>
<form action="/sign_out" method="post">
  <button type="submit" class="btn btn-primary">Sign out</button>
</form>