<h1>Access</h1>
<form action="/access" method="post">
  <div class="mb-3">
    <label for="crypto-password" class="form-label">Enter password</label>
    <input name="password" type="password" class="form-control" id="crypto-password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>