<h1>Sign in</h1>
<form action="sign_in" method="post">
  <div class="mb-3">
    <label for="input-login" class="form-label">Login</label>
    <input name="login" type="text" class="form-control" id="input-login" aria-describedby="emailHelp" placeholder="Login">
  </div>
  <div class="mb-3">
    <label for="input-password" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="input-password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>