<h1>User</h1>
<p>ID: <%= @id %></p>
<% unless @completed.nil? || @completed.empty?  %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= @completed %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<form action="/users/<%= @id %>/change_password" method="post">
  <div class="mb-3">
    <label for="user-old-password" class="form-label">Old password</label>
    <input name="old_password" type="password" class="form-control" id="user-old-password" placeholder="Old password">
    <label for="user-change-password" class="form-label">Change password</label>
    <input name="password" type="password" class="form-control" id="user-change-password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
<form action="/sign_out" method="post">
  <button type="submit" class="btn btn-primary">Sign out</button>
</form>